# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,ansible

### Ansible ###
*.retry

### VisualStudioCode ###
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,ansible

divvun-gramcheck-web
divvun-api
dist
dist.tar.gz
