[Unit]
Description=divvun-api server
Requires=docker.service
After=docker.service

[Service]
User={{ user_name }}
Group={{ user_name }}

WorkingDirectory=/home/{{ user_name }}/dist

RemainAfterExit=true
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans
ExecReload=/usr/local/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/local/bin/docker-compose down
Type=oneshot

[Install]
WantedBy=multi-user.target
